*{font-size:1em;line-height:1em;text-decoration:none;margin:0;padding:0;box-sizing:border-box}h1,h2,h3,h4,h5,h6{font-weight:normal}ol,ul,li{list-style-type:none}table{border-collapse:collapse}

:root {
	--a: #f44336;
	--b: #e91e63;
	--c: #9c27b0;
	--d: #673ab7;
	--e: #3f51b5;
	--f: #2196f3;
	--g: #03a9f4;
	--h: #00bcd4;
	--i: #009688; 
	--j: #4caf50;
	--k: #8bc34a;
	--l: #cddc39;
	--m: #ffc107;
	--n: #ff9800;
	--o: #ff5722;
	--p: #795548;
	--q: #9e9e9e;
	--r: #607d8b; 
	--s: #222; 
}
.body {
	font: 0 'Ubuntu', arial, sans-serif;
	text-transform: uppercase;
	background: #fff;
	color: #222;
	opacity: 0;
	transition: opacity 1s ease;
	transition-delay: 0.5s;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-touch-callout: none;
	user-select: none;
	scroll-behavior: smooth;
}
.helv{font-family: "Helvetica"}
.body.day,
.body.night {opacity: 1}
.h1,
.h2,
.h3 {letter-spacing: 0.15em}
.h1,
.h2 {font-size: 1.5rem}
.h3 {font-size: 1rem}
.video ~ .section .h2 {line-height: 1em}
.h2 .title {cursor: pointer}
.h2 .arrow {margin-left: 0.5rem}
.a {color: inherit}
.img {
	font-size: 0;
	background: center center no-repeat #8080800d;
	background-size: cover;
}
.sup {
	font-size: 0.5em;
	letter-spacing: 0.15em;
}
.fa {pointer-events: none}
.content {
	overflow: hidden;
	display: none;
}
.list {
	display: grid;
	grid-gap: 3rem;
	margin: 2.6rem 0 3rem;
}
.saved .list {margin-bottom: 0}
.list[style*=block] {display: grid !important}
.videos:empty:before {
	content: "Empty";
	font-size: 1.25rem;
	letter-spacing: 0.15em;
	line-height: 1em;
	opacity: 0.25;
}
.list .li {
	font-size: 1.25rem;
	cursor: pointer;
	position: relative;
}
.section:not(.edit) .list .active {color:#fff}

.list .li .listing {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 1fr;
	align-items: center;
	pointer-events: none;
}
.list .li .listing .image {font-size: 0;}
.list .li .listing .title {
	letter-spacing: 0.15em;
	line-height: 1.6em;
	text-overflow: ellipsis;
	max-height: 2.9em;
	padding: 0 3.25rem 0 2rem;
	overflow: hidden;
}
.channels .li .listing .title {padding-left: 0}
.list .li .image .img {width: 100%}
.videos .li .save {
	line-height: 3rem;
	text-align: center;
	width: 3rem;
	height: 3rem;
	display: block;
	transform: translate(0,-50%);
	position: absolute;
	top: 50%;
	right: 0;
}
.videos .active .save {color: #fff}
.saved .videos .li .save i {transform: rotate(45deg)}
.menu {
	margin: 3rem 0 0;
	display: flex;
    justify-content: space-between;
}
.menu .li {
    font-size: 1rem;
    height:1rem;
	display: inline-block;
	vertical-align: top;
}
.menu .li .span {
	letter-spacing: 0.15em;
	cursor: pointer;
}
.subscriptions:not(.edit) .menu .reorder .d,
.subscriptions.edit .menu .reorder .r {display: none}

*[data-color] {color: #808080}
.a *[data-color] {color: var(--a, #f44336)}
.b *[data-color] {color: var(--b, #e91e63)}
.c *[data-color] {color: var(--c, #9c27b0)}
.d *[data-color] {color: var(--d, #673ab7)}
.e *[data-color] {color: var(--e, #3f51b5)}
.f *[data-color] {color: var(--f, #2196f3)}
.g *[data-color] {color: var(--g, #03a9f4)}
.h *[data-color] {color: var(--h, #00bcd4)}
.i *[data-color] {color: var(--i, #009688)} 
.j *[data-color] {color: var(--j, #4caf50)}
.k *[data-color] {color: var(--k, #8bc34a)}
.l *[data-color] {color: var(--l, #cddc39)}
.m *[data-color] {color: var(--m, #ffc107)}
.n *[data-color] {color: var(--n, #ff9800)}
.o *[data-color] {color: var(--o, #ff5722)}
.p *[data-color] {color: var(--p, #795548)}
.q *[data-color] {color: var(--q, #9e9e9e)}
.r *[data-color] {color: var(--r, #607d8b)}  
.s *[data-color] {color: var(--s, #000)}  
.aa *[data-color] {color: #dd60a3}
.bb *[data-color] {color: #c471ed}

*[data-background] {background: #808080}
.a *[data-background] {background: var(--a, #f44336)}
.b *[data-background] {background: var(--b, #e91e63)}
.c *[data-background] {background: var(--c, #9c27b0)}
.d *[data-background] {background: var(--d, #673ab7)}
.e *[data-background] {background: var(--e, #3f51b5)}
.f *[data-background] {background: var(--f, #2196f3)}
.g *[data-background] {background: var(--g, #03a9f4)}
.h *[data-background] {background: var(--h, #00bcd4)}
.i *[data-background] {background: var(--i, #009688)} 
.j *[data-background] {background: var(--j, #4caf50)}
.k *[data-background] {background: var(--k, #8bc34a)}
.l *[data-background] {background: var(--l, #cddc39)}
.m *[data-background] {background: var(--m, #ffc107)}
.n *[data-background] {background: var(--n, #ff9800)}
.o *[data-background] {background: var(--o, #ff5722)}
.p *[data-background] {background: var(--p, #795548)}
.q *[data-background] {background: var(--q, #9e9e9e)}
.r *[data-background] {background: var(--r, #607d8b)}
.s *[data-background] {background:  var(--s, #000)}
.aa *[data-background] {background-image: linear-gradient(135deg, #f64f59, #c471ed)}
.aa .angle[data-background] {background: #de61a2}
.bb *[data-background] {background-image: linear-gradient(135deg, #f64f59, #c471ed, #12c2e9)}
.bb .angle[data-background] {background: #cb6cd9}

.active[data-background][data-force] {background: var(--a, #808080) !important}
.a .active[data-background][data-force] {background: var(--a, #f44336) !important}
.b .active[data-background][data-force] {background: var(--b, #e91e63) !important}
.c .active[data-background][data-force] {background: var(--c, #9c27b0) !important}
.d .active[data-background][data-force] {background: var(--d, #673ab7) !important}
.e .active[data-background][data-force] {background: var(--e, #3f51b5) !important}
.f .active[data-background][data-force] {background: var(--f, #2196f3) !important}
.g .active[data-background][data-force] {background: var(--g, #03a9f4) !important}
.h .active[data-background][data-force] {background: var(--h, #00bcd4) !important}
.i .active[data-background][data-force] {background: var(--i, #009688) !important} 
.j .active[data-background][data-force] {background: var(--j, #4caf50) !important}
.k .active[data-background][data-force] {background: var(--k, #8bc34a) !important}
.l .active[data-background][data-force] {background: var(--l, #cddc39) !important}
.m .active[data-background][data-force] {background: var(--m, #ffc107) !important}
.n .active[data-background][data-force] {background: var(--n, #ff9800) !important}
.o .active[data-background][data-force] {background: var(--o, #ff5722) !important}
.p .active[data-background][data-force] {background: var(--p, #795548) !important}
.q .active[data-background][data-force] {background: var(--q, #9e9e9e) !important}
.r .active[data-background][data-force] {background: var(--r, #607d8b) !important}
.s .active[data-background][data-force] {background: var(--s, #000) !important}
.aa .active[data-background][data-force] {background-image: linear-gradient(135deg, #f64f59, #c471ed) !important}
.bb .active[data-background][data-force] {background-image: linear-gradient(135deg, #f64f59, #c471ed, #12c2e9)}

.helv .h1,
.helv .h2,
.helv .h3,
.helv .list .li .listing .title,
.helv .videos:empty:before,
.helv .edit .channels:before,
.helv .menu .li .span,
.helv .window .textarea,
.helv .window .check .span,
.helv .window .button .button {letter-spacing: 0.05em}

.helv .h1,
.helv .h2 {font-size: 1.6rem}
.helv .h2 .arrow {margin-left: 0.5rem}

.helv .video .info .span,
.helv .list .li .listing .title,
.helv .window .h2,
.helv .window .textarea,
.helv .window .check .span {line-height: 1.4em}
.helv .list .li .listing .title{max-height:2.7em}

.day.helv .video {background:none}
.night.helv .video {background:none}

/* Nav */

.nav {
	width: 100%;
	height: 5rem;
	transition: top 0.4s ease;
	position: fixed;
	top: 100%;
	left: 0;
	z-index: 500;
}
.nav:before{
	content: "";
	width: 100%;
	height: 5rem;
	display: block;
	pointer-events: none;
	position: absolute;
	bottom: 100%;
	left: 0;
}
.nav.active {top: calc(100% - 5rem)}
.nav .toggle {
	width: 5rem;
	height: 3rem;
	transform: translate(-50%,0);
	overflow: hidden;
	display: block;
	cursor: pointer;
	position: absolute;
	bottom: 100%;
	left: 50%;
	z-index: 100;
}
.nav .toggle .angle {
	width: 2rem;
	height: 2rem;
	display: block;
	transform: translate(-50%,50%) rotate(45deg);
	position: absolute;
	bottom: 0;
	left: 50%;
}
.nav .ul {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	align-items: center;
}
.nav .ul .li {
	font-size: 1.5rem;
	text-align: center;
	color: #fff;
	display: inline-block;
	vertical-align: top;
}
.nav .ul .li .span {
	line-height: 5rem;
	display: block;
	cursor: pointer;
}
.nav .ul .mode .fa {display: none}
.nav .ul .pin .fa {transition: transform 0.4s ease}
.nav .ul .pin .p .fa {transform: rotate(90deg)}

/* Main */

.main {
    width: 100%;
	position: relative;
	z-index: 5;
} 
.main .new {
	padding: 0;
	transition: bottom 1s ease;
	cursor: pointer;
	position: fixed;
	bottom: 0;
}
.main .new .span {
	padding: 3rem;
	display: block;
	pointer-events: none;
}
.main .wait {bottom: -5rem}

/* Video */

.video {
	overflow: hidden;
	display: none;
}
.video .screen {position: relative}
.video .screen .img {width: 100%}
.video .screen .inner .img {
	background-size: cover;
	cursor: pointer;
	position: relative;
	z-index: 5;
}
.video .screen .inner .hd {
	opacity: 0;
	transition:opacity 1s ease;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.video .screen .inner .hd[style*=opacity] {z-index: 10}
.video .screen .inner {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.video .screen .inner iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
}
.video.pin .screen .inner {
	position: fixed;
	z-index: 100;
}
.video .placeholder {width: 100%}
.video .info {
	display: grid;
	grid-template-columns: auto min-content; 
	grid-template-rows: auto min-content; 
	align-items: center;
	transition: height 1s ease; 
}
.video .info .title {
	line-height: 1.6em;
	grid-area: 1 / 1 / 2 / 3;
}
.video .info .channel,
.video .info .date {font-size: 1.25rem}
.video .info .channel {
	grid-area: 2 / 1 / 3 / 2; }
.video .info .date {
	text-align: right;
	grid-area: 2 / 2 / 3 / 3;
}
.video .info .span {
	line-height: 1.6em;
	display: inline-block;
}
.video .info .date .span{white-space: nowrap}

/* Latest */

.latest .videos[data-page='1'] li:nth-child(n+5),
.latest .videos[data-page='2'] li:nth-child(n+9),
.latest .videos[data-page='3'] li:nth-child(n+13) {display:none}

.latest .menu .youtube,
.latest .menu .fix,
.latest .videos:empty ~ .menu,
.latest .videos[data-page='4'] ~ .menu .more {display: none}
.latest .videos[data-page='4'] ~ .menu .youtube {display: inline-block}

/* Subscriptions */

.subscriptions .ul:not(:empty) ~ .ul {margin-top: 3rem}
.subscriptions .favorites:empty ~ .all {display:grid}
.subscriptions:not(.edit) .favorites:not(:empty) ~ .all {display:none}
.edit .favorites:empty {min-height:3rem}
.edit .channels:before {
	font-size: 1rem;
	letter-spacing: 0.15em;
	display: block;
}
.edit .favorites:before {content:"Favorites"}
.edit .all:before {content:"All"}
.subscriptions .list .li .listing {grid-column-gap: 0}
.subscriptions .list .li .listing .image .img {
	border-radius: 100%;
	transform: scale(0.5);
}
.subscriptions .list .li .handles {
	text-align: center;
	width: 3rem;
	height: 100%;
	display: none;
	grid-template-rows: 1fr 1fr;
	position: absolute;
	top: 0;
	right: 0;
}
.edit .list .li .handles {display: grid}
.subscriptions .list .li .handles .span {
	line-height: 3.5rem;
	height: 3.5rem;
	display: block;
}
.subscriptions .list .li .handles .star {line-height: 4rem}
.subscriptions .list .li .handles .drag {
	line-height: 3rem;
	cursor: move;
}
.subscriptions:not(.edit) .favorites:empty {display:none}

.subscriptions .menu .more {display: inline-block}
.subscriptions .favorites:empty ~ .menu .more,
.subscriptions .all[style*=grid] ~ .menu .more,
.subscriptions .all[style*=block] ~ .menu .more,
.subscriptions.edit .menu .more {display: none}

.subscriptions .menu .reorder {display: none}
.subscriptions .favorites:empty ~ .menu .reorder,
.subscriptions .all[style*=grid] ~ .menu .reorder,
.subscriptions .all[style*=block] ~ .menu .reorder,
.subscriptions.edit .menu .reorder {display: inline-block}

.subscriptions .menu .manage {display: none}
.subscriptions .favorites:empty ~ .menu .manage,
.subscriptions .all[style*=grid] ~ .menu .manage,
.subscriptions .all[style*=block] ~ .menu .manage {display: inline-block}
.subscriptions.edit .menu .manage {display: none !important}

.subscriptions .menu .refresh {display: none}
.subscriptions .favorites:empty ~ .menu .refresh,
.subscriptions .all[style*=grid] ~ .menu .refresh,
.subscriptions .all[style*=block] ~ .menu .refresh {display: inline-block}
.subscriptions.edit .menu .refresh {display: none !important}

/* Saved */

.saved {
	padding-bottom: 3rem;
	transition: padding-bottom 0.4s ease;
}
.nav.active ~ .main .saved {padding-bottom: 8rem}
.mobile .autoplay {display: none !important}
.saved .videos:empty ~ .menu {display: none} 
.saved .undefined {display: none}
.saved .menu .li {cursor: pointer}
.menu .switch {
	font-size: 1.25rem;
	margin-left: 1rem;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -0.15em;

}
.menu .switch .fa {display: none}
.menu .on .fa-toggle-on,
.menu .off .fa-toggle-off {display: block}

/* Window */

.window {
	width: 100%;
	height: calc(100% - 5rem);
	grid-template-rows: auto min-content min-content min-content min-content;
	overflow-y:auto;
	display: none;
	position: fixed;
	bottom: 5rem;
	z-index: 250;
}
.window[style*=block] {display: grid !important}
.window .h2 {
	line-height: 1.6em;
	display: none;
}
.window[data-page=new] .new {display: block}
.window[data-page=import] .import {display: block}
.window[data-page=export] .export {display: block}
.window .text{
	display: grid;
	grid-template-columns: auto min-content;
	align-items: center;
}
.window .exit {
	font-size: 1.5rem;
	cursor: pointer;
}
.window .options .ul .li {
	font-size: 1rem;
	letter-spacing: 0.15em;
	line-height: 1.6em;
	margin: 0 1rem 2rem;
	padding: 1rem 2rem;
	display: inline-block;
	cursor: pointer;
}
.window .options .ul .hide {display: none}
.window .options .ul .li:not(.active) {background:none}
.window .options .ul .active {
	color: #fff;
}
.window .textarea {
	font-family: inherit;
	font-size: 1.25rem;
	letter-spacing: 0.15em;
	line-height: 1.6em;
	color: inherit;
	width: 100%;
	height: 25vh;
	margin: 0 0 3rem;
	padding: 2.2rem 3rem;
	border: none;
	outline: none;
	resize: none;
}
.window[data-page=export] .textarea {margin-bottom: 4rem}
.window .section.button {text-align: center}
.window .button .button,
.preferences .button {
	font-family: inherit;
	font-size: 1.5rem;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	margin: 0 3rem 4rem;
	padding: 1rem 3rem;
	cursor: pointer;
	border: none;
	outline: none;
}
.window .button .button {color: #fff}
.window .check .label {
	text-align: center;
	width: 100%;
	margin-top: -1.5rem;
	padding: 0 3rem 3rem;
	display: block;
}
.window .disabled .label {
	pointer-events: none;
	opacity: 0.5;
}
.window .check .span {
	font-size: 1rem;
	letter-spacing: 0.15em;
	line-height: 1.6em;
	text-align: left;
	max-width: 70%;
	padding: 0 3rem 0 0;
	display: inline-block;
	vertical-align: middle;
}
.window .check .switch {
	font-size: 1.5rem;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.window .check .switch .fa {display: none}
.window .check .on .fa-toggle-on,
.window .check .off .fa-toggle-off {display: block}

.window .section.button,
.window .options,
.window .check {display: none}
.window[data-page=new] .section.button,
.window[data-page=import] .section.button,
.window[data-page=import] .section.check,
.window[data-page=export] .options {display: block} 

/* Preferences */

.aside {
    color: #fff;
    width: calc(60rem/2 - 1.5rem);
    height: calc(100% - 5rem);
    transform: translate(100%, 0);
    transition: transform 0.6s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 250;
}
.aside.active {
    transform: translate(0,0);
}
.night.s .aside {
    color: #000;
}
.aside .inner {
    height:100%;
    padding: 3rem;
    display:grid;
    grid-template-rows: min-content auto min-content;
    grid-gap:3rem;

}
.aside .h2 .span {
    float: right;
    opacity: 0.25;
    cursor:pointer;
    transition: opacity 0.4s ease;
}
.aside .h2 .span:hover {
    opacity: 1;
}
.aside .ul {
    display: grid;
    grid-gap: 3rem;
    overflow-y:auto;
}
.aside .li {
    font-size: 1rem;
    line-height:1em;
}
.aside .li .div{
    min-height:3rem;
    margin:1.5rem 0 0;
    padding:3rem;
    border:1px solid rgba(255,255,255,0.25);
}
.aside .button {
    background: #fff;
    margin:0;
}

/* Day / Night */

.day {
	background: #fff;
	color: #222;
}
.day .video,
.day .list .li:not(.active),
.day .edit .list .li.active,
.day .subscriptions .list .li .handles {background: #fbfbfb}
.day.helv .video {border-bottom:1px solid #eee}
.day .window .section {background: #fff}
.day .window .fade {background: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,1))}
.day .window .textarea {background: #fbfbfb}
.day .nav:before{background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.15))}
.day .nav .ul .mode .fa-sun-o {display: block}

.night {
	background: #000;
	color: #fff;
}
.night .video,
.night .list .li:not(.active),
.night .edit .list .li.active,
.night .subscriptions .list .li .handles {background: #0d0d0d}
.night.helv .video {border-bottom:1px solid #222}
.night .window .section {background: #000}
.night .window .fade {background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,1))}
.night .window .textarea {background: #0d0d0d}
.night .nav:before {background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.15))}
.night .nav .ul .mode .fa-moon-o {display: block}

.night.s *[data-color] {color: #fff}
.night.s .section:not(.edit) .list .active,
.night.s .videos .active .save,
.night.s .nav .ul .li {color: #000}
.night.s *[data-background] {background: #fff}

/* Desktop / Mobile */

@media (orientation: landscape) {
	html {font-size: 1.5vh;}
	.body {padding: 0 3rem}
	.latest .inner,
	.subscriptions .inner {
		position: sticky;
		top: 0;
	}
	.main .new {margin-left: -3rem}
	.latest .h2,
	.subscriptions h2,
    .saved h2 {padding: 3rem 0 0}
    .nav .ul {
        max-width: 70rem;
        margin: 0 auto;
    }
	.main {
		max-width: 60rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: repeat(3, min-content); 
		grid-column-gap: 3rem;
		transition: left 0.4s ease;
		left: 0;
	}
	.video {
		margin-top: 3rem;
		grid-area: 1 / 1 / 2 / 3;
	} 
	.video.pin .inner {
		transition: bottom 0.4s ease, opacity 0.5s linear;
	}
	.video .info .title {padding: 2.5rem 3rem 1.8rem}
	.video .info .channel {padding:0 0 2.6rem 3rem}
	.video .info .date {padding:0 3rem 2.6rem}

	.nav.active ~ .main .video.pin .inner {bottom: 5rem}
	.video.pin .screen .inner {
		width: calc(50vw - 33rem);
		top: auto;
		bottom: 0;
		left: auto;
		right: 0;
	}
	.window[style*=block] ~ .main .video.pin .screen .inner {
		opacity: 0;
		pointer-events: none;
	}
	.latest {grid-area: 2 / 1 / 3 / 2} 
	.subscriptions {grid-area: 2 / 2 / 3 / 3} 
	.saved {grid-area: 3 / 1 / 4 / 3} 
	.saved .videos {
		grid-template-columns: 1fr 1fr;
	}
	.window {
		transform: translate(-50%,0);
		max-width: 62rem;
		left: 50%;
    }
	.window .section {padding: 0 1rem}
	.window .exit {padding:2.6rem 0 2.6rem 3rem}
	.window .options {padding: 0}
	.window .h2 {padding: 2.2rem 0}
	.window .options .ul {margin: 0 0 1rem 0}
    .aside {width:calc(60rem/2 - 1.5rem)}
	.helv .video .info .title {padding: 2.9rem 0 2.2rem}
	.helv .video .info .channel {padding: 0 0 2.6rem}
	.helv .video .info .date {padding: 0 0 2.6rem 3rem}

}

@media (orientation: portrait) {
	html {font-size: 3vw}
	.video.pin .screen .inner {
		width: 100%;
		top: 0;
		left: 0;
	}
	.video .info .title {padding: 2.4rem 3rem 1.8rem}
	.video .info .channel {padding:0 0 2.5rem 3rem}
	.video .info .date {padding:0 3rem 2.5rem}
	
	.latest .h2,
	.subscriptions h2,
	.saved h2 {padding: 2.8rem 3rem 0}
	.latest .content,
	.subscriptions .content,
	.saved .content {padding: 0 3rem}
	.window {left: 0}
	.window .exit {padding: 2.6rem 3rem}
	.window .h2 {padding: 2.6rem 0 2.6rem 3rem}
	.window .options .ul {margin: 0 2rem}
    .aside {width:75%}
	.helv .video .info .title {padding: 2.9rem 3rem 2rem}
	.helv .video .info .channel,
	.helv .video .info .date {padding-bottom: 2.6rem}
	
}
